<!DOCTYPE html>
<html lang="en" ng-app="frontendApp">
<head>
  <script src="http://localhost:35729/livereload.js"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>

  <form name="userForm" method="post" ng-controller="frontendCtrl">
    <label for="postalcode">Postalcode</label>
    <input type="text" name="postalcode" id="postalcode" required ng-model="data.postalcode" ng-pattern="/^\d{4} ?[a-z]{2}$/" />
    <p ng-if="userForm.postalcode.$error.pattern">Postalcode is invalid.</p>
    
    
    <label for="housenumber">Housenumber</label>
    <input type="text" name="housenumber" id="housenumber" required ng-model="data.housenumber" ng-pattern="/^\d+$/" />    
    <p ng-if="userForm.housenumber.$error.pattern">Housenumber is invalid.</p>    
    <p ng-if="userForm.housenumber.$error.required">Housenumber is required.</p>
    
    <label for="street">Street</label>
    <input type="text" name="street" id="street" required ng-model="data.street" /> 
    <p ng-if="userForm.street.$error.required">Street is required.</p>    

    <label for="city">City</label>
    <input type="text" name="city" id="city" required ng-model="data.city" ng-pattern="/amsterdam/i"/>
    <p ng-if="userForm.city.$error.required">City is required.</p>
    <p ng-if="userForm.city.$error.pattern">City should be 'Amsterdam'</p>
    <input type="submit" value="Send" />    
  </form>

</body>
</html> 